h1 {
    text-align: center;
}
p.muchorojo {
    color: red;
}
p.styledFont {
    color: green;
}
p.bluerthanblue {
    color: blue
}
p.bigonbig {
    font-size: 24px
}
p.toiny {
    font-size: 10px
}
p.thiswillbecentered {
    text-align: center;
}
p.boldy {
    font-weight: bold;
}
p.fontfamilychange {
    font-family: fantasy;
}
p.combinator {
    font-weight: bold;
    font-size: 30px;
    color: orange;
}
img {
    border: 5px solid rgb(0, 150, 200);
    width:250px;
    height: 250px;

}